/* Estilos para o elemento <main> */
main {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1em;
  width: 100%;
  height: 100%;
  padding: 3em 3em;
}

/* Estilos para os cards */
main .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3em 2em;
  width: 75%;
  background-color: rgb(255, 244, 232);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  margin: auto;
}

/* Estilos para as figuras dentro dos cards */
main .card figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Estilos para as fotos dentro das figuras */
main .card .foto {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid orangered;
}

/* Estilos para os títulos dos cards */
main .card figcaption {
  font-size: 1.5em;
  font-weight: 600;
  color: orangered;
  text-align: center;
  margin-top: 10px;
  width: 100%;
}

/* Estilos para os parágrafos dentro dos cards */
main .card p {
  font-size: 1.2em;
  color: black;
  text-align: center;
  line-height: 1.5em;
  margin-top: 20px;
}
